<app-modal-window [header]="' Edit '" [id]="'editUserModalWindow'">
  <div class="container">
    <form class="form-horizontal" role="form">

      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="name">Name</label>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem">
                <i class="fa fa-user"></i>
              </div>
              <input type="text" name="name" [(ngModel)]="userName" class="form-control" [readonly]="true" placeholder="John Doe" required
                autofocus>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-control-feedback">
            <span class="text-danger align-middle">
              <!-- Put name validation error messages here -->
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="company">Company</label>
        </div>
        <div class="col-md-6">
          <div class="form-group has-danger">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem">
                <i class="fa fa-building-o"></i>
              </div>
              <input type="text" name="company" [(ngModel)]="userCompany" class="form-control" placeholder="ABC Pvt. Ltd." required>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-control-feedback">
            <span class="text-danger align-middle">
              <!-- <i class="fa fa-close"> Example Error Message</i> -->
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="designation">Designation</label>
        </div>
        <div class="col-md-6">
          <div class="form-group has-danger">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem">
                <i class="fa fa-user-md"></i>
              </div>
              <input type="text" name="designation" [(ngModel)]="userDesignation" class="form-control" placeholder="Software Engineer"
                required>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-control-feedback">
            <span class="text-danger align-middle">
              <!-- <i class="fa fa-close"> Example Error Message</i> -->
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="resume">Resume</label>
        </div>
        <div class="col-md-6">
          <div class="form-group has-danger">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem">
                <i class="fa fa-file-pdf-o"></i>
              </div>
              <input type="file" name="resume" class="form-control" (change)=fileEvent($event)>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-control-feedback">
            <span class="text-danger align-middle">
              <!-- <i class="fa fa-close"> Example Error Message</i> -->
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <button type="submit" class="btn btn-success" (click)="updateDetails()">
            <i class="fa fa-user-plus"></i> Submit</button>
        </div>
      </div>
    </form>
  </div>
</app-modal-window>