#navbarItems{
    margin-left: 451px;
}
#navbarItems .nav-item .nav-link{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    touch-action: manipulation;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 300;
    font-stretch: normal;
    font-size: 14px;
    line-height: 40px;
    font-family: Montserrat, sans-serif;
}
