<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" id="navbar">
  <a class="navbar-brand" href="#">{{appName}}</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto" id="navbarItems">
      <li class="nav-item">
        <a class="nav-link" href="#about">WHAT IS {{appName}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#howItWorks">How It Works</a>
      </li>
      <li class="nav-item" *ngIf="!isUserLoggedIn">
        <a class="nav-link" href="#" (click)="emitLoginPageEvent()">Login/SignUp</a>
      </li>

      <li class="nav-item" *ngIf="isUserLoggedIn">
        <a class="nav-link" href="#" (click)="emitJobPostPageEvent()">Post/Edit Job Ad  </a>
      </li>

      <li class="nav-item dropdown" *ngIf="isUserLoggedIn">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Jujhar
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#" (click)="emitEditPageEvent()">Edit Profile</a>
          <a class="dropdown-item" href="#" (click)="emitChangePasswordEvent()">Change Password</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>


    </ul>
  </div>
</nav>