<footer class="page-footer fixed-bottom font-small stylish-color-dark">
  <div class="container text-center text-md-left">
    <div class="footer-copyright text-center">
      <span class="text-muted">Copyright © 2018. {{appName}}. All rights reserved</span>
    </div>
  </div>
</footer>