footer {
    
    width: 100%;
    line-height: 200px; /* Vertically center the text there */
    background-color: #f5f5f5;
    position: fixed;
    bottom: 0;
    height: 60px;
    line-height: 60px;
  }
