<app-modal-window [header]="' Post/Edit Job '" [id]="'editJobModalWindow'">
  <div class="container">
    <form class="form-horizontal" role="form">

      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="jobTitle">Job Title</label>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <input type="text" name="jobTitle" [(ngModel)]="jobTitle" class="form-control" placeholder="Full Stack Developer" required
                autofocus>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="jobLocation">Job Loaction</label>
        </div>
        <div class="col-md-6">
          <div class="form-group has-danger">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <select class="form-control" (change)="selecJobLocation($event)">
                    <option>Gurgaon</option>
                    <option>Delhi</option>
                    <option>Noida</option>
                    <option>Other</option>
                  </select>
                <!-- <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle"  id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Job Location
                    </a>
                  
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="#" (click)="selecJobLocation($event)">Gurgaon</a>
                      <a class="dropdown-item" href="#" (click)="selecJobLocation($event)">Delhi</a>
                      <a class="dropdown-item" href="#" (click)="selecJobLocation($event)">Noida</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#" (click)="selecJobLocation($event)">Other</a>
                    </div>
                  </div> -->
              <!-- <input type="text" name="jobLocation" [(ngModel)]="jobLocation" class="form-control" placeholder="Gurgaon" required> -->
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="requiredExperience">Required Experience</label>
        </div>
        <div class="col-md-9">
          <div class="form-group has-danger">
            <div class="input-group">             
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label>Min</label>
                  <input type="number" name="requiredMinExperience" class="form-control RequiredExperience" [(ngModel)]="requiredMinExperience" placeholder="0">
                </div>
                <!-- <div class="form-group col-md-4">
                  <label>Max</label>
                  <input type="number" name="requiredMaxExperience" class="form-control RequiredExperience" [(ngModel)]="requiredMaxExperience" placeholder="60">
                </div> -->
              </div>
            </div>
          </div>
        </div>        
      </div>

      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="requiredSkills">Required Skills</label>
        </div>
        <div class="col-md-6">
          <div class="form-group has-danger">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">             
              <input type="text" name="requiredSkills" [(ngModel)]="requiredSkills" class="form-control" placeholder="Java,Hibernate,Spring,ExtJS"
                required>
            </div>
          </div>
        </div>        
      </div>

      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="isJobAdStillValid">Disable Job Post</label>
        </div>
        <div class="col-md-6">
          <div class="form-group has-danger">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">              
              <input type="checkbox" name="isJobAdStillValid" [(ngModel)]="isJobAdStillValid" class="form-control form-check-input">
            </div>
          </div>
        </div>       
      </div>

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <button type="submit" class="btn btn-success" (click)="postJob()">
            <i class="fa fa-user-plus"></i> Post Job</button>
        </div>
      </div>
    </form>
  </div>
</app-modal-window>