<div class="filterComponent">

  <div class="card">
    <!-- <article class="card-group-item">
      <header class="card-header">
        <h6 class="title">Job Type</h6>
      </header>
      <div class="filter-content">
        <div class="card-body">
          <form>
            <label class="form-check">
              <input class="form-check-input" type="checkbox" value="">
              <span class="form-check-label">
                FullTime
              </span>
            </label>
            
            <label class="form-check">
              <input class="form-check-input" type="checkbox" value="">
              <span class="form-check-label">
                Part Time
              </span>
            </label>
            
            <label class="form-check">
              <input class="form-check-input" type="checkbox" value="">
              <span class="form-check-label">
                Contract Based
              </span>
            </label>
            
          </form>

        </div>
      </div>
    </article> -->
    


    <article class="card-group-item">
      <header class="card-header">
        <h6 class="title">Job Location</h6>
      </header>
      <div class="filter-content">
        <div class="card-body">
          <form>
            <label class="form-check">
              <input class="form-check-input" type="checkbox" name="isDelhi" value="true" [(ngModel)]="isDelhi" (change)="filterJobs($event)">
              <span class="form-check-label">
                Delhi
              </span>
            </label>

            <label class="form-check">
              <input class="form-check-input" type="checkbox" name="isGurgaon" value="true" [(ngModel)]="isGurgaon" (change)="filterJobs($event)">
              <span class="form-check-label">
                Gurgaon
              </span>
            </label>

            <label class="form-check">
              <input class="form-check-input" type="checkbox" name="isNoida" value="true" [(ngModel)]="isNoida" (change)="filterJobs($event)">
              <span class="form-check-label">
                Noida
              </span>
            </label>
            <!-- form-check.// -->
            <label class="form-check">
              <input class="form-check-input" type="checkbox" name="isBanglore" value="true" [(ngModel)]="isBanglore" (change)="filterJobs($event)">
              <span class="form-check-label">
                Banglore
              </span>
            </label>
            <!-- form-check.// -->
            <label class="form-check">
              <input class="form-check-input" type="checkbox" name="isHyderbad" value="true" [(ngModel)]="isHyderbad" (change)="filterJobs($event)">
              <span class="form-check-label">
                Hyderabad
              </span>
            </label>
            <!-- form-check.// -->
            <label class="form-check">
              <input class="form-check-input" type="checkbox" name="isPune" value="true" [(ngModel)]="isPune" (change)="filterJobs($event)">
              <span class="form-check-label">
                Pune
              </span>
            </label>
            <!-- form-check.// -->
            <label class="form-check">
              <input class="form-check-input" type="checkbox" name="isChennai" value="true" [(ngModel)]="isChennai" (change)="filterJobs($event)">
              <span class="form-check-label">
                Chennai
              </span>
            </label>
            <!-- form-check.// -->
            <label class="form-check">
              <input class="form-check-input" type="checkbox" name="isAll" value="true" [(ngModel)]="isAll" (change)="filterJobs($event)">
              <span class="form-check-label">
                All
              </span>
            </label>
            <!-- form-check.// -->
          </form>

        </div>
        <!-- card-body.// -->
      </div>
    </article>
    <!-- card-group-item.// -->


    <article class="card-group-item">
      <header class="card-header">
        <h6 class="title">Required Experience</h6>
      </header>
      <div class="filter-content">
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Min</label>
              <input type="number" class="form-control" name="minExp" placeholder="0" [(ngModel)]="minExp" (change)="filterJobs($event)">
            </div>
            <!-- <div class="form-group col-md-6 text-right">
              <label>Max</label>
              <input type="number" class="form-control" placeholder="60">
            </div> -->
          </div>
        </div>
        <!-- card-body.// -->
      </div>
    </article>
    <!-- card-group-item.// -->

  </div>
  <!-- card.// -->

</div>
<!-- row.// -->