<app-modal-window [header]="' Login '" [id]="'loginModalWindow'">
  <div class="col-md-12">
    <form class="form-horizontal" role="form">
      <!-- <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h2>Login</h2>
          <hr>
        </div>
      </div> -->
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="form-group has-danger">
            <label class="sr-only" for="email">E-Mail Address</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <input type="text" name="email" class="form-control" id="email" [(ngModel)]="userEmail" email #prmEmail="ngModel" placeholder="you@example.com"
                required>
            </div>
          </div>
        </div>
        <div class="col-md-3" *ngIf="prmEmail.invalid && (prmEmail.dirty || prmEmail.touched)">
          <div class="form-control-feedback">
            <span class="text-danger align-middle">
              Not valid email
              <!-- <i class="fa fa-close"></i> -->
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="sr-only" for="password">Password</label>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <input type="password" name="password" class="form-control" id="password" [(ngModel)]="userPassword" placeholder="Password"
                required>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-control-feedback">
            <span class="text-danger align-middle">
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6" style="padding-top: .35rem">
          <div class="form-check mb-2 mr-sm-2 mb-sm-0">
            <label class="form-check-label">
              <input class="form-check-input" name="remember" [(ngModel)]="rememberMe" type="checkbox">
              <span style="padding-bottom: .15rem">Remember me</span>
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6" style="padding-top: .35rem">
          <div class="form-check mb-2 mr-sm-2 mb-sm-0">
            <label class="form-check-label">
              <a class="btn btn-link" href="#" (click)="emitRestPasswordEvent()">Forgot Your Password?</a>
            </label>
          </div>
        </div>
      </div>


      <div class="row" style="padding-top: 1rem">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <button type="submit" class="btn btn-success col-md-12" (click)="login()">
            <i class="fa fa-sign-in"></i> Login</button>
        </div>
      </div>

      <div class="row" style="padding-top: 1rem">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <button type="submit" class="btn btn-success col-md-12" (click)="emitSignUpWindowEvent()">
            <i class="fa fa-sign-in"></i>Signup</button>
        </div>
      </div>

      <div class="row" *ngIf="loginError">
        <div class="col-md-6">
          <div class="form-control-feedback">
            <span class="text-danger align-middle">
              {{loginErrorMessage}}
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>

</app-modal-window>