<app-modal-window [header]="' Change Password '" [id]="'changePasswordModalWindow'">
  <div class="container">
    <form class="form-horizontal" role="form">

      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="name">Name</label>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem">
                <i class="fa fa-user"></i>
              </div>
              <input type="text" [(ngModel)]="userName" name="name" class="form-control" [readonly]="true" placeholder="John Doe" required>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-control-feedback">
            <span class="text-danger align-middle">
              <!-- Put name validation error messages here -->
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="password">Current Password</label>
        </div>
        <div class="col-md-6">
          <div class="form-group has-danger">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem">
                <i class="fa fa-key"></i>
              </div>
              <input type="password" [(ngModel)]="currentPassword" name="password" class="form-control" placeholder="Password" required>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-control-feedback">
            <span class="text-danger align-middle">
              <!-- <i class="fa fa-close"> Example Error Message</i> -->
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="password">New Password</label>
        </div>
        <div class="col-md-6">
          <div class="form-group has-danger">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem">
                <i class="fa fa-key"></i>
              </div>
              <input type="password" [(ngModel)]="newPassword" name="password" class="form-control" placeholder="Password" required>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-control-feedback">
            <span class="text-danger align-middle">
              <!-- <i class="fa fa-close"> Example Error Message</i> -->
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="password">Confirm New Password</label>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem">
                <i class="fa fa-repeat"></i>
              </div>
              <input type="password" name="password-confirmation" class="form-control" [(ngModel)]="confirmNewPassword" placeholder="Password"
                required>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <button type="submit" class="btn btn-success" (click)="updatePassword()">
            <i class="fa fa-user-plus"></i> Update</button>
        </div>
      </div>
      <div class="row" *ngIf="updatePasswordError">
        <div class="col-md-6">
          <div class="form-control-feedback">
            <span class="text-danger align-middle">
              {{updatePasswordErrorMessage}}
            </span>
          </div>
        </div>
      </div>
    </form>
  </div>
</app-modal-window>