<div class="card">
    <div class="card-body">
      <h5 class="card-title">{{companyName}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{jobTitle}}</h6>
      <p class="card-text">{{jobExpAndLoc}}</p>
      <p class="card-text">{{requiredSkills}}</p>
      <a href="#" class="card-link btn btn-primary" [ngClass]="{'adisabled': !isUserLoggedIn}" (click)="applyForJob()">ReferMeBro</a>
    </div>
  </div>