<app-modal-window [header]="' Rest Password '" [id]="'restPasswordModalWindow'">
  <div class="container">
    <form class="form-horizontal" role="form">

      <div class="row">
        <div class="col-md-3 field-label-responsive">
          <label for="name">Email Address</label>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem">
                <i class="fa fa-at"></i>
              </div>
              <input type="text" [(ngModel)]="emailAddress" email #prmEmail="ngModel" name="email" class="form-control" placeholder="you@example.com"
                                required autofocus>
            </div>
          </div>
        </div>

        <div class="col-md-3" *ngIf="prmEmail.invalid && (prmEmail.dirty || prmEmail.touched)">
          <div class="form-control-feedback">
              <span class="text-danger align-middle">
                  Not valid email
              </span>
          </div>
      </div>
      </div>

      <div class="row" *ngIf="isOTPGenerated">
        <div class="col-md-3 field-label-responsive">
          <label for="password">OTP</label>
        </div>
        <div class="col-md-6">
          <div class="form-group has-danger">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem">
                <i class="fa fa-key"></i>
              </div>
              <input type="password" [(ngModel)]="OTP" name="OTP" class="form-control" placeholder="OTP" required>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="isOTPGenerated">
        <div class="col-md-3 field-label-responsive">
          <label for="password">New Password</label>
        </div>
        <div class="col-md-6">
          <div class="form-group has-danger">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
              <div class="input-group-addon" style="width: 2.6rem">
                <i class="fa fa-key"></i>
              </div>
              <input type="password" [(ngModel)]="newPassword" name="password" class="form-control" placeholder="Password" required>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row" *ngIf="!isOTPGenerated">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <button type="submit" class="btn btn-success" (click)="generateOTP()">
            <i class="fa fa-user-plus"></i> Submit</button>
        </div>
      </div>

      <div class="row" *ngIf="isOTPGenerated">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <button type="submit" class="btn btn-success" (click)="resetPassword()">
            <i class="fa fa-user-plus"></i> Update</button>
        </div>
      </div>

    </form>
  </div>
</app-modal-window>