<app-header (openLoginPage)="showLoginModalWindow()" (openEditPage)="showEditModalWindow()" (openChangePasswordPage)="showChangePasswordModalWindow()" (openJobPostPage)="showJobPostModalWindow()"></app-header>
<app-top-banner></app-top-banner>
<app-login-component (showSignUpWindow)="showSignUpModalWindow()" (showRestPasswordWindow)="showRestPasswordModalWindow()"></app-login-component>
<app-signup></app-signup>
<app-edit-user></app-edit-user>
<app-change-password></app-change-password>
<app-job></app-job>
<app-user-list></app-user-list>
<app-resetpassword></app-resetpassword>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="large"
  color="#fff"
  type="square-jelly-box">
</ngx-spinner>
<app-footer></app-footer>