<div class="usersContainer" style="padding-top:60px">
  <div class="filterSection" style="width:20%;float: left;">
    <app-filterjobs (filteredJobFetched)="updatePostedJobs()"></app-filterjobs>
  </div>

  <div class="postedJobsSection" style="width:80%;padding-left:5px;float: left;overflow:auto;height:500px;border: 5px solid rgba(0,0,0,.125)">
    <app-postedjob *ngFor="let postedJob of this.postedJobs" [userEmailAddress]="postedJob.emailAddress" [companyName]="postedJob.companyName" [jobTitle]="postedJob.jobTitle" [requiredSkills]="postedJob.requiredKeySkills" [jobExpAndLoc]="postedJob.minExp + ' #'+postedJob.jobLocation"></app-postedjob>
  </div>

</div>