.circle-img {
    
    overflow: hidden;
    background: skin-tone.jpg;
    background-size: cover;
    border-radius:50% 50% 50% 50%;
    width:100px;
    height:100px;
    align-self: center;
  }
  
  .circle-img img {
    height: 100%;
    transform: translateX(-50%);
    margin-left: 50%;
  }